/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #1e293b;

  /* Add your custom font families to Tailwind theme */
  --font-sans: "Inter", sans-serif;
  --font-serif-display: "Playfair Display", serif;
  --font-serif-body: "Crimson Pro", serif;
}
